{
    "BOT_USERNAME"   : "XXXXXXXXXXXX",
    "BOT_TOKEN" : "XXXXXXXXXXX",
    "BOT_ID" : "970757588977348698",
    "GUILD_ID": "358208013376552971",
    "API_HOSTNAME"   : "192.168.1.160",
    "API_URL"   : "http://192.168.1.160:5080",
    "API_PORT"   : 5080,
    "API_PATH_TEXT" : "/chatbot_text/",
    "API_PATH_AUDIO" : "/chatbot_audio/",
    "API_PATH_MUSIC" : "/chatbot_music/",
    "API_PATH_UTILS" : "/utils/",
    "API_PATH_JOKES_TEXT" : "/jokes_text/",
    "API_PATH_JOKES_AUDIO" : "/jokes_audio/",
    "API_PATH_IMAGE" : "/images/",
    "API_PATH_TWITTER" : "/twitter/",
    "CACHE_DIR" : "/tmp/discord-voicebot-discord",
    "MAX_LISTENERS"   : 100,
    "ENABLED"   : true,
    "AUTONOMOUS"   : true,
    "AUTONOMOUS_TIMEOUT"   : 120000,
    "DOWNLOAD_ENABLED"   : false,
    "DOWNLOAD_SERVER_URL"   : "https://yourdomain.com",
    "ENABLED_CHANNEL_ID_1"   : "1",
    "ENABLED_CHANNEL_ID_2"   : "2",
    "ENABLED_CHANNEL_ID_3"   : "3",
    "ENABLED_CHANNEL_ID_4"   : "5",
    "PROWLARR_HOST"   : "192.168.1.160",
    "PROWLARR_PORT"   : "9696",
    "PROWLARR_API_KEY"   : "XXXXXXXXXXX",
    "ENABLED_ROLE" : '1',
    "MESSAGES_CHANNEL_ID" : '11111111111111111',
    "ADMIN_PASS" : "AAAAAAA"
}
