TMP_DIR=/tmp/discord-voicebot-api
TMP_DIR_DISCORD=/tmp/discord-voicebot-discord
TRAIN=False
CACHE_TYPE=redis
CACHE_REDIS_HOST=redis
CACHE_REDIS_PORT=6379
CACHE_REDIS_DB=0
CACHE_REDIS_URL=redis://redis:6379/0
CACHE_DEFAULT_TIMEOUT=500
JOKES_URL=http://192.168.1.160:3050/v1/jokes
SCRAPER_URL=http://192.168.1.160:3050/v1/mngmnt/scrape
TWITTER_CONSUMER_KEY = XXXXXXXXXXXXXXXXXXXXXXX
TWITTER_CONSUMER_SECRET = XXXXXXXXXXXXXXXXXXXXXXX
TWITTER_ACCESS_KEY = XXXXXXXXXXXXXXXXXXXXXXX
TWITTER_ACCESS_SECRET = XXXXXXXXXXXXXXXXXXXXXXX
SUBREDDITS=XXXXXXXXXXXXXXXXXXXXXXX
REDDIT_API_KEY="XXXXXXXXXXXXXXXXXXXXXXX"
REDDIT_API_SECRET="XXXXXXXXXXXXXXXXXXXXXXX"
LOG_LEVEL=40
TRANSLATOR_PROVIDER=libre
TRANSLATOR_BASEURL=http://192.168.1.160:5705
MYMEMORY_TRANSLATOR_EMAIL=
FAKEYOU_USER=XXXXXXXXXXXXXXXXXXXXXXX
FAKEYOU_PASS=XXXXXXXXXXXXXXXXXXXXXXX



TOKEN="XXXXXXXXXXXXXXXXXXXXXXX"
TOKEN_TEST="XXXXXXXXXXXXXXXXXXXXXXX"
CHAT_ID="XXXXXXXXXXXXXXXXXXXXXXX"
GROUP_CHAT_ID="XXXXXXXXXXXXXXXXXXXXXXX"
GROUP_CHAT_ID_TEST="XXXXXXXXXXXXXXXXXXXXXXX"
API_URL="http://192.168.1.160:5080"
API_PORT="5080"
API_PATH_TEXT="/chatbot_text/"
API_PATH_AUDIO="/chatbot_audio/"
API_PATH_JOKES_TEXT="/jokes_text/"
API_PATH_JOKES_AUDIO="/jokes_audio/"
API_PATH_IMAGES="/images/"
API_PATH_UTILS="/utils"
BOT_NAME="XXXXXXXXXXXXXXXXXXXXXXX"
