python-dotenv==1.0.0
werkzeug==2.1.2
Flask~=2.1.2
flask-restx==0.5.1
click<8.1.0
git+https://github.com/blastbeng/ChatterBot
#git+https://github.com/blastbeng/chatterbot-corpus
chatterbot-corpus==1.2.0
spacy==3.5.0
pyyaml==3.13
ruamel.yaml==0.17.21
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
uWSGI==2.0.21
wikipedia
gtts
git+https://github.com/yt-dlp/yt-dlp
redis==4.3.4
Flask-Caching==2.0.1
libretranslatepy
Flask-APScheduler==1.12.4
Tweepy==4.12.1
faker==17.6.0
praw==7.7.0
pyenchant==3.2.2
fakeyou
sqlitedict==2.1.0
Flask-Limiter==3.3.0
uwsgi-tools==1.1.1
pydub==0.25.1
tqdm==4.65.0
essential_generators
bestemmie
bs4
pymongo==4.6.0
requests
git+https://github.com/dsdanielpark/Bard-API.git
langdetect
selenium
webdriver_manager
undetected-chromedriver